/* Universal code */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: darkgray;
}

/* Header Section */
.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar-brand {
    font-size: 2.25rem;
   
}

.dropdown-item {
    color: white;
}

.nav-link {
    font-size: 1.25rem;
}

/* Main section */

main {
    position: relative;
    top: 40px
}

.title {
    background-color: darkgray;
    text-align: center;
    font-size: 5rem;
}

/* Deal section */

.row {
    background-color: darkgray;
}

.dealDiv h2{
    font-size: 3rem;
}

.dealContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    gap: 20px;
    
    justify-items: center;
    text-align: center;

    
    
    
}

.card {
  border: 5px solid black;
  box-shadow: 5px 5px 10px;
  width: 25rem;
  height: 100%;
  padding: 30px;  

}
.card img {
    padding: 25px;
    border-bottom: 3px solid black;
    height: 100%;
}




