/* Universal code */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: darkgray;
}

/* Header Section */
.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar-brand {
    font-size: 2.25rem;
   
}

.dropdown-item {
    color: white;
}

.nav-link {
    font-size: 1.25rem;
}

/* Main section */

main {
    position: relative;
    top: 40px
}

.sec-head h2{
    font-size:  3rem;
}

/* Deal section */

.row {
    background-color: darkgray;
}

.dealDiv h2{
    font-size: 3rem;
}

.secContainer {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 25px;
    background-color: darkgray;
    width: 100%;
}


    

.sec-card {
  border: 5px solid black;
  box-shadow: 5px 5px 10px;
  width: 25rem;
  height: 35rem;
  margin: 10px;
  background-color: white;
  border-radius: 20px;

}


.card-img-top {
    border-bottom: 3px solid black;
    padding: 25px;
    border-bottom: 3px solid black;
    height: 20rem;
}

.priceQuantity{
    display: flex;
    
}



.card-text {
    font-size: 1.25rem;;
}


/* cart section */

#cart{
    cursor: pointer;
}

.cart-container {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 70%;
    height: auto;
    margin: 0 auto;
    background-color: white;
    border: 5px solid black;
    box-shadow: 5px 5px 10px;
    border-radius: 20px;
    display: none;

   
}

.cartHeader {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cartHeading {
    font-size: 2rem;
    font-weight: 700;
    
    
}

.remove {
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid black;
    color: red;
}

.item-container {
    height: 30rem;
    overflow-y: scroll ;
}


.cart-Item {
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: 25% 25%  7% 5% 30%;
    justify-content: space-between;
    align-items: center;
    
}

.priceSec {
    text-align: right;
}




 .cart-Item img {
    padding-left: 1rem;
 }
.about{
    display: block;
    padding-right: 10px;
}

.title{
    font-size: 1.25rem;
    font-weight: 700;
}

.subtitle{
    font-weight: 600;
}




.priceSec{
    display: block;
}

.item-price{
    font-weight: 700;
}

.save u  {
    color: blue;
    cursor: pointer;
}

.item-remove u {
    color: red;
    cursor: pointer;
}



.checkout{
  display: flex;
  padding: 20px 15px;

}

.total{
    display: flex;
    width: 100%;
    font-size: 1.25rem;
}
.subtotal{
    padding-right: .5rem;
    font-size: 1.25rem;
}
.items{
    opacity: .6;
    color: gray;
}

.checkOut-btn{
    border-radius: 25%;
    height: 2rem;
    width: 7.5rem;
    background-color: black;
    color: white;
    cursor: pointer;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}



