/* Universal code */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: darkgray;
}

/* Header Section */
.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar-brand {
    font-size: 2.25rem;
   
}

.dropdown-item {
    color: white;
}

.nav-link {
    font-size: 1.25rem;
}

/* Main section */

main {
    position: relative;
    top: 40px
}

.sec-head h2{
    font-size:  3rem;
}

/* Deal section */

.row {
    background-color: darkgray;
}

.dealDiv h2{
    font-size: 3rem;
}

.secContainer {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 25px;
    background-color: darkgray;
    width: 100%;
}


    

.sec-card {
  border: 5px solid black;
  box-shadow: 5px 5px 10px;
  width: 25rem;
  height: 35rem;
  margin: 10px;
  background-color: white;
  border-radius: 20px;

}


.card-img-top {
    border-bottom: 3px solid black;
    padding: 25px;
    border-bottom: 3px solid black;
    height: 20rem;
}

.priceQuantity{
    display: flex;
    
}



.card-text {
    font-size: 1.25rem;;
}


/* cart section */

#cart{
    cursor: pointer;
}

.cart-container {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    background-color: white;
    border: 5px solid black;
    box-shadow: 5px 5px 10px;
    border-radius: 20px;
    display: none;
}

.cartHeader {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cartHeading {
    font-size: 2rem;
    font-weight: 700;
}

.closebtn {
    position: absolute;
    top: -15px;
    right: 5px;
    font-size: 36px;
    cursor: pointer;
}

.remove {
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid black;
    color: red;
    padding-right: 15px;
}

.item-container {
    height: auto;
    max-height: 30rem;
    overflow-y: scroll ;
}


.cart-Item {
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 20%  7% 5% 15%;
    justify-content: space-between;
    align-items: center;
    
}

.cart-Item img {
    width: 100%;
    height: auto;
    padding: 2px;
    max-height: 15rem;
   
}

.priceSec {
    text-align: right;
}

#quantity{
    min-width: 33px;
}



.about{
    display: block;
    padding-right: 10px;
    width: 100%;
    
}

.title{
    font-size: 1.25rem;
    font-weight: 700;
}

.subtitle{
    font-weight: 600;
    font-size: 1rem;
}

@media only screen and (max-width: 1100px) {
    .title {
        font-size: 1rem;
    }
    .subtitle {
        font-size: .75rem
    }
}

@media only screen and (max-width: 750px) {
    .subtitle {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .quantityLabel {
        display: none;
    }
}



.priceSec{
    display: block;
}

.item-price{
    font-weight: 700;
}

.save u  {
    color: blue;
    cursor: pointer;
}

.item-remove u {
    color: red;
    cursor: pointer;
}



.checkout{
  display: flex;
  padding: 20px 15px;

}

.total{
    display: flex;
    width: 100%;
    font-size: 1.25rem;
}
.subtotal{
    padding-right: .5rem;
    font-size: 1.25rem;
}
.items{
    opacity: .6;
    color: gray;
}

.checkOut-btn{
    border-radius: 25%;
    height: 2rem;
    width: 7.5rem;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}




/* Save for later section */


.save-container {
    position: fixed;
    top: 100px;
    left: 20px;
    width: 45%;
    height: auto;
    margin: 0 auto;
    background-color: white;
    border: 5px solid black;
    box-shadow: 5px 5px 10px;
    border-radius: 20px;
    display: none;
}

.saveHeader {
    margin: auto;
    
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.saveHeading {
    font-size: 2rem;
    font-weight: 700;
}

.save-removeAll {
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid black;
    color: red;
    padding-right: 15px;
}

.save-item-container {
    height: auto;
    max-height: 30rem;
    overflow-y: scroll ;
}

.saved-Item {
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 20%  7% 5% 15%;
    justify-content: space-between;
    align-items: center;
    
}

.saved-Item img {
    width: 100%;
    height: auto;
    padding: 2px;
    max-height: 15rem;
   
}

.savedItems{
    opacity: .6;
    color: gray;
    padding: 0 0 5px 5px;
}

.save-item-remove u {
    color: red;
    cursor: pointer;
}